* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(10, 17, 12, 0.863);
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f4037 , #99f2c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f4037 , #99f2c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img1 {
    height: 80%;
    margin-left: 10%;
}

header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}